body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin:0;
  padding: 20px;
}

h1{
  background-image: ;
  text-align: center;
}

h2,h3,h4,h5{
  text-align: center;
}

p{

}
#user{

}

#password{

}

#login{

}

#login-btn{

}